.register-form {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 3vw auto;
  padding: 20px;
  width: 320px;
}

.register-logo {
  display: block;
  margin: 20px auto;
  padding-top: 50px;
  width: 150px;
}